.gallery {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-24);
}

.gallery__title {
  text-align: center;
  margin-top: var(--spacing-0);
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-5);
}

.gallery__drawing {
  position: relative;
  background: var(--color-elev-4dp);
}

.gallery__drawing img {
  display: block;
  width: 100%;
}

.gallery__image__name {
  position: absolute;
  right: var(--spacing-2);
  bottom: 0;
  font-family: var(--fontFamily-type);
  font-size: var(--fontSize-n1);
}

.gallery__image__name::before {
  content: '\2014';
  position: absolute;
  top: 0;
  left: calc(var(--spacing-4) * -1);
}

@media screen and (max-width: 600px) {
  .gallery__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
