.search {
  position: relative;
  display: flex;
  margin-bottom: var(--spacing-10);
}

.search > input {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 24px;
  font-size: 0.9rem;
  padding-left: var(--spacing-12);
  background-color: var(--color-input-bg);
  color: var(--color-text);
  transition: transform 0.2s ease;
}

.search input[type="search"]::-webkit-search-decoration,
.search input[type="search"]::-webkit-search-cancel-button,
.search input[type="search"]::-webkit-search-results-button,
.search input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.search input:focus {
  transform: scale(1.01);
}

.search input:focus ~ svg {
  transform: translateX(-3px);
}

.search > svg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--spacing-5);
  margin: auto 0;
  color: var(--color-input-text);
  transition: transform 0.15s linear;
  z-index: 1;
}
