#footer__wave {
  display: block;
}

#footer__wave path {
  fill: var(--color-elev-4dp);
}

.footer__wrapper {
  background-color: var(--color-elev-4dp);
  padding: var(--spacing-8) var(--spacing-0) var(--spacing-8);
}

.footer__container {
  max-width: var(--maxWidth-wrapper);
  margin: var(--spacing-0) auto;
  padding: var(--spacing-0) var(--spacing-5);
}

.footer__main {
  display: flex;
  justify-content: space-between;
}

.footer__page-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2);
  padding-bottom: var(--spacing-8);
}

.footer__page-list > a {
  color: var(--color-text);
}

.footer__page-list > a:hover {
  text-decoration: underline;
}

.footer__copy {
  font-size: var(--fontSize-0);
  display: flex;
  align-items: center;
}

.footer__copy > svg {
  margin-left: 6px;
  margin-bottom: 3px;
}

/* Mobile */
@media screen and (max-width: 600px) {
  .footer__main {
    display: flex;
    flex-direction: column;
  }

  .footer__github {
    padding-bottom: var(--spacing-8);
  }

  .footer__page-list {
    order: 1;
  }
}
